<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">

</head>
<body>

	<div id="todo">
		<section>
			<input 
				type="text" 
				placeholder="What do you need to do?" 
				v-model='newTask'
				v-on:keyup.enter='addTask'>
		</section>
		<!-- <p>{{ newTask }}</p> -->
		<ul>
			<li v-for="task in todoList">
				<label>{{ task }}</label>
				<button 
					type="button"
					v-on:click="removeTask(task)">X</button>
			</li>
		</ul>


	</div>



<!-- Scripts -->
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<!-- popper -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<!-- Vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- Vue Router -->
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<!-- Custom script -->
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
